APP_NAME=YenkasaCode Agent
APP_ENV=development
APP_PORT=8080
MONGODB_URI=
MONGODB_DATABASE=yenkasa_code
VERTEX_PROJECT_ID=
VERTEX_LOCATION=us-central1
VERTEX_EMBEDDING_MODEL=gemini-embedding-001
GOOGLE_CLOUD_PROJECT=project-10405180-0afd-4ecc-9f8
GOOGLE_APPLICATION_CREDENTIALS=
CLOUD_RUN_SERVICE=
